body
{
    background-color: rgb(43, 98, 226);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}

body h1{
    margin-bottom: 18px;
}
body .n-move-section
{
    display: flex;
    justify-content: center;
}
body .n-move-section p
{
    font-size: 22px; 
    margin-bottom: 18px;
    margin-top: 5px;
}

body .line-section
{
    display: flex;
    justify-content:center;
}

body .line-section .card
{   
    display: flex;
    background-color: rgb(145, 48, 18);

    margin-left: 15px;
    margin-right: 15px;   
    margin-bottom: 18px;
    
    width: 150px;
    height: 150px;

    border-style: solid;
    border-color:black;
    border-width: 1px;    
    border-radius: 10px;

    /*icons style*/
    font-size: 80px; 
    justify-content: center;
    align-items: center;
    
    /*Card Flip Animation style*/
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;   
}

body .line-section .card:hover
{
    background-color:rgb(223, 97, 66);
    cursor: pointer;
}

