html
{   
    height: 100%;
    display: grid;
    place-items: center;
    height: 100vh;  
}

body
{
    font-size: 25px;
    background: linear-gradient(to left, rgb(26, 101, 187),#204295);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}

body h1{
    margin-bottom: 1px; 
    text-shadow: 2px 2px 5px rgb(145, 48, 18);
    color: rgb(0, 8, 63);
}

body .n-move-section
{
    display: flex;
    justify-content: center;
}

body .n-move-section p
{   
    color: rgb(0, 8, 63);
    font-size: 30px; 
}

body .line-container
{
    display: flex;
    justify-content:center;
}

body .line-container .card
{   
    display: flex;
    background-color: rgb(145, 48, 18);

    margin: 9px 15px;   
    width: 190px;
    height: 190px;

    border: 1px solid black;   
    border-radius: 10px;

    /*icons style*/
    font-size: 105px; 
    justify-content: center;
    align-items: center;
    
    /*Card Flip Animation style*/
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

body .line-container .card:hover{
    background-color:rgb(223, 97, 66);    
}

