html
{
    height: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media all and (max-width: 1920px) and (max-height: 1080px){
    html{
        font-size: 14px;
    }
}
@media all and (max-width: 1536px){
    html{
        font-size: 11.5px;
    }
}

@media all and (max-width: 1366px){
    html{
        font-size: 8.5px;
    }
}

:root{
  --background-color: rgb(0, 30, 115);
  --background-square-color1: rgba(255, 255, 255, 0.2);
  --background-square-color2: rgba(255, 255, 255, 0.2);

  --h1-color: rgba(144, 34, 0, 0.99);
  --h1-border-color: rgb(0, 0, 50);
  --count-move-color: rgba(140, 140, 150,0.85);

  --card-color: rgb(129, 34, 12);
  --card-border: black;
}

body h1
{
    font-size: 3.2rem;
    margin-top: -0.1rem;
    margin-bottom: 1px;
    text-shadow: -0.3125rem 0 var(--h1-border-color), 0 0.3125rem var(--h1-border-color), 0.3125rem 0 var(--h1-border-color), 0 -0.3125rem var(--h1-border-color); /*letters border*/
    color: var(--h1-color);
}

body .n-move-section
{
    display: flex;
    justify-content: center;
}

body .n-move-section p
{
    color: var(--count-move-color);
    font-size: 1.87rem;
}

body .line-container
{
    display: flex;
    justify-content:center;
}

body .line-container .card
{
    display: flex;
    background-color: var(--card-color);

    margin: 0.5625rem 0.9375rem;
    width: 11.875rem;
    height: 11.875rem;

    border: 0.0625rem solid var(--card-border);
    box-shadow: 0.062rem 0.062rem 0.062rem 0.031rem;
    border-radius: 0.625rem;

    /*icons style*/
    font-size: 6.5625rem;
    justify-content: center;
    align-items: center;

    /*Card Flip Animation style*/
    transform: rotateY(180deg);
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow: hidden;
}
.background li /*all background squares*/
{
    position: absolute;
    display: block;
    list-style: none;
    width: 1.25rem;
    height: 1.25rem;
    animation: animate 25s linear infinite;
}

@keyframes animate /*background squares animation*/
{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/*each background square edition*/
.background li:nth-child(1)
{
    /*position*/
    left: 25%;
    bottom: -130px;

    /*shape*/
    width: 8.125rem;
    height: 8.125rem;

    animation-delay: 1s; /*time appearence*/
    background: var(--background-square-color1);

}
.background li:nth-child(2)
{
    left: 45%;
    width: 10.0625rem;
    height: 10.0625rem;
    bottom: -161px;
    animation-delay: 1s;
    background: var(--background-square-color2);
}

.background li:nth-child(3)
{
    left: 57%;
    width: 10.875rem;
    height: 10.875rem;
    bottom: -174px;
    animation-delay: 1s;
    background: var(--background-square-color1);
}
.background li:nth-child(4)
{
    left: 70%;
    width: 9.1875rem;
    height: 9.1875rem;
    bottom: -147px;
    animation-delay: 10s;
    background: var(--background-square-color2);
}
.background li:nth-child(5)
{
    left: 4%;
    width: 8.625rem;
    height: 8.625rem;
    bottom: -138px;
    animation-delay: 10s;
    background: var(--background-square-color2);
}
.background li:nth-child(6)
{
    left: 52%;
    width: 7.25rem;
    height: 7.25rem;
    bottom: -116px;
    animation-delay: 10s;
    background: var(--background-square-color1);
}
.background li:nth-child(7)
{
    left: 3%;
    width: 10.5rem;
    height: 10.5rem;
    bottom: -168px;
    animation-delay: 17s;
    background: var(--background-square-color2);
}
.background li:nth-child(8)
{
    left: 42%;
    width: 8.9375rem;
    height: 8.9375rem;
    bottom: -143px;
    animation-delay: 20s;
    background: var(--background-square-color1);
}
.background li:nth-child(9){
    left: 29%;
    width: 9.75rem;
    height: 9.75rem;
    bottom: -156px;
    animation-delay: 22s;
    background: var(--background-square-color1);
}
.background li:nth-child(10)
{
    left: 73%;
    width: 7.8125rem;
    height: 7.8125rem;
    bottom: -125px;
    animation-delay: 23s;
    background: var(--background-square-color2);
}